/* BASE STYLES */
html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #edf2f4 !important;
}
.btn-primary {
  background-color: #d90429 !important;
  border:none !important;
}
.btn-danger {
  background-color: #edf2f4 !important;
  color:#2b2d42 !important;
}
.btn-success {
  background-color: #8d99ae !important;
  border:none !important;
}

/* NAV STYLES */
.navbar {
  background-color: #d90429;
  color: #edf2f4;
}
.navbar a {
  color: #edf2f4;
}
.navbar a:hover {
  color: #d5dadc;
}
.navbar a:active {
  color: #d5dadc;
}
.navbar a:visited {
  color: #edf2f4;
}
.active{
  font-weight: 700 !important;
}
#help {
  background-color: #2b2d42;
  color:#edf2f4;
}

.show {
  display: inline !important;
}

/* DECORATIVE STYLES */
.shadow {
  background-color: #be0321;
  min-height: 0.8em;
}
#shadow2 {
  background-color: #717b90;
  min-height: 0.8em;
  margin-top: 0em;
}
#backToTop {
  background-color: #2b2d42;
  color:#edf2f4;
}
.black-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

/* MODAL STYLES */
.modal-body img {
    max-width: 100%;
    height: auto;
    padding: 2rem;
}
p figcaption {
    font-style: italic;
    color: #575757;
}
figure {
    padding-bottom: 2em;
    margin-bottom: 2em;
}
.returns {
    font-weight: 700;
    font-size: 1.2em;
}
.modal a {
  color: #d90429;
}
.modal a:hover {
  color: #be0321;
}
.modal a:active {
  color: #be0321;
}
.modal a:visited {
  color: #be0321;
}

/* CAROUSEL STYLES */
.carousel {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 4rem;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {
    height: 25rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 25rem;
    object-fit: cover;
}
.topHeadlines {
    font-weight: 700;
}

/* WEATHER STYLES */
.weatherForecast {
    background-color:#8d99ae !important; 
    color:#fff !important;
    padding: 2em;
    text-align: center;
}

.weatherForecast p {
    margin: 0;
    display: inline;
}

#name {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
}
#enterCity {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
}
#icon {
    width: 5em;
}
#inputCity  {
    text-align: center;
    border:none;
    background-color: #8d99ae;
    border-bottom: 1px solid #e3e3e3;
    padding:0.5em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 1;
    color: #edf2f4;
}
#submitCity {
    text-align: center;
    border:1px solid #e3e3e3;
    background-color: #8d99ae;
    padding:0.5em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 1;
    color: #edf2f4;
}

.hidden {
  display: none;
}

/* TOUR STYLES */
.tour {
  background-color: #2b2d42 !important;
  color: #edf2f4;
}
.tour-step-backdrop {
    background-color: #2b2d42 !important;
    color: #edf2f4;
}
.tour-element {
    background-color: #2b2d42 !important;
    color: #edf2f4;
}
.popover-title {
    background-color: #2b2d42 !important;
    color: #edf2f4;
}

/* TWITTER STYLES */
.twitterUpdates {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding: 2em;
    background-color: #d90429;
}
.twitterUpdatesHeader {
    margin-top: 2em;
    padding: 2em;
    font-weight: 700;
    color:#edf2f4;
    background-color: #d90429;

}
.tweet {
    font-weight: 400;
    font-size: 1em;
 }
